# dependencies
node_modules/
.env

# logs
logs
*.log

# system files
.DS_Store
Thumbs.db

# optional build folders
build/
dist/

# IDE settings
.vscode/
.idea/

public/images/
src/assets/
*.webp
*.jpg